@model WebApplication.ViewModels.AcccountViewModel.ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
}



<h1>ForgetPassword</h1>

<div>
    <form asp-controller="Account" asp-action="ForgetPassword" asp-route-returnUrl="" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                <p>ایمیل تغیر رمز ورود ارسال شد</p>
            </div>

        }


        <label class="col-md-12 control-label">please Enter Your Email Address</label>
        <div class="col-md-12">
            <input asp-for="@Model.Email" class="form-control" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary ">send</button>
    </form>
</div>


@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}